*{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header{
    padding: 0 5% 0 5% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  height: 80px;
}
.header ul{
    display: flex;
    
}
.header ul li{
    list-style: none;
    padding: 14px;
}
.header ul a{
    text-decoration: none;
    color: black;
}
.res-card{
    width: 200px;
    /* height: 300px; */
    background-color: #f0f0f0;
    padding: 5px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    margin: 5px;
    padding: 0 20px 0 20px;
}
.res-img{
    width: 100%;
    /* height: 40%; */
    background-size: cover;
}
.res-container{
    padding: 0 20px 0 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.filter-btn{
    cursor: pointer;
    margin: 0 20px 5px ;
    font-size: 15px;
}
